.pf 
    width: 49.8vw

    .leftbox
        width: 50%
        height: 47.5vh
        border-bottom-left-radius: 1.3vh
        border-right: 3px solid $primary-color
        float: left

        .boxmark
            display: flex
            flex-wrap: wrap
            width: 100%
            overflow: scroll
            overflow-x: hidden
            height: 47.5vh

            .content
                display: flex
                flex-wrap: wrap
                width: 100%
                height: auto

            .form-switch
                width: 45%
                margin: 1vh
                font-family: $font-main

            h1 
                font-size: 2rem
                text-align: center
                width: 100%
                font-family: $font-main
                border-bottom: 2px solid $primary-color
                border-top: 2px solid $primary-color
                font-weight: 600
                padding: 1vh 0vw 1vh 0vw

        .boxmark::-webkit-scrollbar
            width: 4px

        .boxmark::-webkit-scrollbar-thumb
            background-color: $primary-color
            border-top-right-radius: 4vh
            border-bottom-right-radius: 10vh


    .rightbox
        width: 50%
        height: 47.5vh
        border-bottom-right-radius: 1.3vh
        float: right

        input
            text-align: center
            margin-top: 8vh

        .passport
            height: 4vh
            width: 8vw
            border-radius: 1vh
            text-align: centerZ
            margin: 8vh 0vw 0vh 8vw
            border-color: $primary-color
            font-family: $font-main

        .passport:focus
            outline: none


        h1
            width: 50%
            font-family: $font-main
            font-size: 1.8rem
            font-weight: 500
            color: $gray-color
            margin: 5vh 0vw 2vh 7vw
            width: 15vw

            span 
                font-weight: bolder
        
        button
            margin: 12vh 0vw 0vh 8vw
            padding: 0.5vh
            color: white
            text-align: center
            border: 2px solid $gray-color
            background-color: $primary-color
            border-radius: 1.3vh
            width: 8vw
            transition: transform .3s

        button:hover
             @extend %button_hover